Bootstrap Navbar Customization to match image design
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  min-height: 100vh;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

body {
  position: relative;
  overflow-x: hidden;
}
